.login-wrapper{
    background-size: cover;
    .container {
        max-width: 500px;
    }
    .top-img{
        width: 60px;
        height: 60px;
        display: block;
        margin: 0 auto 10px;
    }
    .form-check-label {
        line-height: 20px;
        font-size: 15px;
    }
    .forgot-password{

    }
}